<div th:replace="compartilhado/top"></div>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Edição de Administrador</h1>
        <p class="mb-4">
            Aqui iremos editar o administrador
        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4" style="padding: 30px;">
            <form method="POST" th:action="@{'/items/' + ${item?.id} + '/atualizar'}">
               
                <h4>Dados do bem</h4>
                
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="nome">Nome do bem</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="grupo">Categoria</label>
                        <select class="form-control" id="grupo" name="grupo">
                
                
                            <th:block th:each="grupo : ${Grupo}">
                                <option th:value="${grupo.id}" th:text="${grupo.grupo}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="patrimonio">Nº Patrimônio</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="patrimonio" name="patrimonio"
                                placeholder="Digite o número do Patrimônio">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Pesquisar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="col">
                        <label for="teste">Nº Série</label>
                        <input type="text" class="form-control" placeholder="Número de série" id="serie" name="serie">
                    </div>
                    <div class="col">
                        <label for="teste">Nº Marca</label>
                        <input type="text" class="form-control" placeholder="Marca" id="abc" name="abc">
                    </div>
                    <div class="col">
                        <label for="teste">Modelo</label>
                        <input type="text" class="form-control" placeholder="Modelo" id="def" name="def">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="local">Estado do bem</label>
                        <select class="form-control" id="local" name="local">
                            <option value="Novo">Novo</option>
                            <option value="Semi-novo">Semi-novo</option>
                            <option value="Usado">Usado</option>
                            <option value="Obsoleto ">Obsoleto</option>
                            <option value="Inservível">Inservível</option>
                        </select>
                    </div>
                </div>
                
                <div class="mb-3" style="width: 30%;">
                    <label for="formFile" class="form-label">Selecione a imagem</label>
                    <input class="form-control" style="width: 100%;" type="file" id="customFileLang" name="imagem">
                
                </div>
                
                <!-- Adicionando uma quebra com linha pontilhada -->
                <hr style="border-top: 1px dotted #8c8b8b;">
                
                <h4>Armazenagem</h4>
                
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="local">Local</label>
                        <select class="form-control" id="local" name="local">
                            <th:block th:each="unidade : ${unidades}">
                                <option th:text="${unidade.nomeunidade}" th:value="${unidade.id}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="armazenagem">Armazenagem</label>
                        <select class="form-control" id="armazenagem" name="armazenagem">
                            <!-- Iterates over the 'Armazenagem' and displays each one as an option -->
                            <th:block th:each="armazenagem : ${Armazenagem}">
                                <option th:text="${armazenagem.local}" th:value="${armazenagem.id}"></option>
                            </th:block>
                        </select>
                    </div>
                </div>
                <!-- Adicionando uma quebra com linha pontilhada -->
                <hr style="border-top: 1px dotted #8c8b8b;">
                
                <h4>Nota Fiscal</h4>
                
                <div class="row">
                    <div class="form-group col-md-2">
                        <label for="valor">Valor do bem</label>
                        <input type="text" class="form-control" id="valor" name="valor" placeholder="Digite o valor"
                            onKeyUp="formatarMoeda()">
                    </div>
                
                    <div class="form-group col-md-2">
                        <label for="data">Data</label>
                        <input type="date" class="form-control" id="data" name="data">
                    </div>
                
                    <div class="form-group col-md-3">
                        <label for="forma_pagamento">Forma de pagamento</label>
                        <select class="form-control" id="forma_pagamento" name="forma_pagamento">
                            <option value="cartao_credito">Cartão de Crédito</option>
                            <option value="boleto_bancario">Boleto Bancário</option>
                            <option value="pix">PIX</option>
                            <option value="dinheiro">Dinheiro</option>
                        </select>
                    </div>
                
                
                
                    <div class="form-group col-md-3"> <!-- Adicionado dentro de uma coluna de tamanho 3 para manter a consistência -->
                        <label for="notafiscal" class="form-label">Inserir Nota fiscal</label>
                        <input class="form-control" type="file" id="notafiscal" name="notafiscal">
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Observações gerais sobre o cadastro do item</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <!-- Display Image Section -->
                <div class="form-group">
                    <label for="imagemExibicao">Imagem Atual:</label>
                    <br>
                    <div style="border: 2px solid #000; /* Cor da borda */
                                            padding: 10px; /* Espaçamento entre a borda e a imagem */
                                            display: inline-block; /* Faz com que a borda envolva apenas a imagem */
                                            border-radius: 10px; /* Bordas arredondadas */
                                            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); /* Sombra para um efeito 3D */
                                            ">
                        <img id="imagemExibicao" th:src="@{${item.caminhoDaImagem}}" alt="Imagem do item"
                            style="max-width: 100%; height: auto;">
                    </div>
                </div>             
                
                <!-- Adicione um estilo inline ao botão para dar espaço -->
                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Editar</button>
                </form>

        </div>

    </div>
    <!-- /.container-fluid -->
<div th:replace="compartilhado/baixo"></div>
