<style>
  /* Estilo base do switch */
  .form-check-input {
    position: relative;
    width: 40px;
    /* Largura reduzida do switch */
    height: 20px;
    /* Altura reduzida do switch */
    -webkit-appearance: none;
    appearance: none;
    background: #ccc;
    outline: none;
    cursor: pointer;
    transition: background 0.3s;
    border-radius: 10px;
    /* Bordas arredondadas ajustadas */
  }

  /* Estilo do botão deslizante dentro do switch */
  .form-check-input:checked {
    background: #335ACB;
  }

  /* Círculo que move dentro do switch */
  .form-check-input:before {
    position: absolute;
    content: "";
    width: 16px;
    /* Tamanho reduzido do círculo */
    height: 16px;
    /* Tamanho reduzido do círculo */
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background: white;
    transition: 0.3s;
  }

  /* Movimento do círculo quando o switch está ativo */
  .form-check-input:checked:before {
    left: 22px;
    /* Ajuste na posição de movimento para a direita */
  }

  /* Ajuste do alinhamento vertical do texto do label */
  .form-check-label {
    position: relative;
    top: -5px;
    /* Alinha o texto verticalmente com o switch */
  }

  .teste {
    align-self: center;
  }

  .radio-espaço-esq {
    margin-left: 5pt;
    align-self: center;
  }

  .select2-container .select2-selection--single {
    background-color: white !important;
    border-color: lightgray !important;
    color: grey !important;
    padding-top: 3pt !important;
    height: 30pt !important;
    width: 100% !important;
  }

  .select2-selection__arrow {
    background-position: center right;
    margin-top: 4pt;
    /* Ajuste conforme necessário */
  }
</style>

<!-- No HTML: -->
<div th:replace="compartilhado/top"></div>
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Formulário de Avaliação de Fornecedores</h1>
  <p class="mb-4">
    Avaliação de fornecedores - Entrega
  </p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4" style="padding: 30px;">
    <form id="meuFormulario" form method="POST" action="/formulario/cadastrar" enctype="multipart/form-data">

      <!--Script para campo razão sozial-->
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

      <!-- Razão Social -->
      <div class="form-group">
        <label for="nomeFornecedor" class="col-auto my-2 d-flex">1. Informe a Razão Social do Fornecedor</label>
        <div class="input-group">
          <select class="form-control form-control-lg select2" id="nomeFornecedor" name="nomefornecedor"
            placeholder="Pesquisar Fornecedor">
            <option value="outros">Outros</option>
            <th:block th:each="fornecedor : ${Fornecedores}">
              <option th:text="${fornecedor.razao}" th:value="${fornecedor.id}"></option>
            </th:block>
          </select>
        </div>
      </div>

      <!--Script para campo razão sozial2-->
      <script>
        $('.select2').select2();
        $('#nomeFornecedor').change(function () {
          var valorSelecionado = $(this).val().trim().toLowerCase();
          if (valorSelecionado === 'outros') {
            $('#outroFornecedor').show();
          } else {
            $('#outroFornecedor').hide();
          }
        });
      </script>

      <!-- Campo para inserir o nome do fornecedor se "outros" for selecionado -->
      <div id="outroFornecedor" style="display: none;">
        <div class="form-group">
          <label for="outroNomeFornecedor" class="col-auto my-2 d-flex">1.1. Se outros: Nome do Fornecedor</label>
          <input type="text" class="form-control form-control-lg" id="outroNomeFornecedor" name="nomeoutros"
            placeholder="Nome do Fornecedor">
        </div>
      </div>

      <!-- Notas Fiscais -->
      <label class="col-auto my-2 d-flex">2. Nota(s) Fiscal(is)</label>
      <div id="inputFields" class="card shadow mb-4" style="padding: 30px;">
        <div class="form-row fieldSet row">
          <div class="form-group col-md-2">
            <label for="inputCity">Nota Fiscal</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="btn btn-outline-primary" type="button" onclick="adicionarCampos()">+</button>
              </div>
              <input type="text" class="form-control" id="inputCity" name="numeroNotaFiscal">
            </div>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Nº de volumes</label>
            <input type="text" class="form-control" id="inputZip" name="numeroVolumes">
          </div>
          <div class="form-group col-md-3">

            <label for="inputState">Selecione o Centro de Custo</label>

            <select id="inputState" class="form-control" name="centrodecusto" onchange="exibirCheckbox1()">
              <option selected>Selecione</option>
              <th:block th:each="unidade : ${unidades}">
                <option th:text="${unidade.nomeunidade}" th:value="${unidade.nomeunidade}"></option>
              </th:block>
            </select>

          </div>

          <div id="checkboxDiv" style="display: none; align-self: flex-end; margin-bottom: 10pt;">
            <input type="checkbox" id="boletoCheckbox">
            <label class="radio-espaço-esq" for="boletoCheckbox">Pago por boleto?</label>
          </div>

        </div>
      </div>


      <!-- Veiculo em condições adequadas? -->
      <fieldset class="form-group">
        <div class="form-group">
          <legend class="col-form-label col-sm-8 pt-1">3. Veiculo em condições adequadas?</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="radio" name="veiculo" id="gridRadios20" value="Sim,10" onclick="calcularPontuacao()">
              <label class="col-10" for="gridRadios20">
                Sim
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="veiculo" id="gridRadios21" value="Nao,0" onclick="calcularPontuacao()">
              <label class="col-10" for="gridRadios21">
                Não
              </label>
            </div>

            <div id="pontuacao">Pontuação: 0</div>

            <!-- obs veiculo -->
            <div id="obs3" class="form-group" style="display: none;">
              <label class="col-form-label col-sm-8 pt-1">3.1. Em caso de não, por favor especificar: </label>
              <textarea class="form-control" id="cx-obs3" rows="3" name="veiculoobs"></textarea>
            </div>

          </div>
        </div>
      </fieldset>

      <!-- A entrega foi realizada -->
      <fieldset class="form-group">
        <div class="form-group">
          <legend class="col-form-label col-sm-3 pt-1">4. A entrega foi realizada:</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="radio" name="entregarealizada" id="gridRadios4" value="Pelo próprio fornecedor,0">
              <label class="col-10" for="gridRadios4">
                Pelo próprio fornecedor
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="entregarealizada" id="gridRadios5" value="Por transportadora,0">
              <label class="col-10" for="gridRadios5">
                Por transportadora
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="entregarealizada" id="gridRadios6"
                value="Por serviço de postagem (correios e afins),0">
              <label class="col-10" for="gridRadios6">
                Por serviço de postagem (correios e afins)
              </label>
            </div>
          </div>
        </div>
      </fieldset>

      <!-- Material entregue corretamente -->
      <fieldset class="form-group">
        <div class="form-group">
          <legend class="col-form-label col-sm-3 pt-1">5. Material entregue corretamente?</legend>
          <div class="col-10">
            <div class="form-check">
              <input type="checkbox" value="Sim,0" id="tdCerto" name="materialentregue" onclick="calcularPontuacao5()">
              <label class="col-10">Sim</label>
            </div>
          </div>


          <div class="col-sm-10" id="DivergenciaEnt">
            <div class="form-check">
              <input type="checkbox" id="gridRadios7" name="materialparcial" value="Entrega Parcial de Itens,7.5"
                onclick="calcularPontuacao5()">
              <label class="col-10" for="gridRadios7">
                Entrega Parcial de Itens
              </label>
            </div>

            <!-- Material entregue corretamente - Pergunta adicional 5.1 -->
            <fieldset id="gridRadios3Adicional1" style="display: none;">
              <legend class="col-form-label col-sm-6 pt-1">5.1. Em relação a Ordem de Fornecimento (OF)</legend>
              <div class="col-sm-10 form-group">
                <div class="form-check">
                  <input type="radio" name="parcialofpendente" id="respostaSim" value="Quantidade de itens pendentes">
                  <label class="col-10" for="respostaSim">Quantidade de itens pendentes</label>
                </div>
                <div class="form-check">
                  <input type="radio" name="parcialofpendente" id="respostaNao" value="Variedade de itens pendentes">
                  <label class="col-10" for="respostaNao">Variedade de itens pendentes</label>
                </div>
              </div>
            </fieldset>

            <div class="form-check">
              <input type="checkbox"
                value="Especificação divergente de item - devolver os produtos e NÃO assinar o canhoto da nota fiscal,7.5"
                id="especif5" onclick="calcularPontuacao5()" name="divergenciaitem">
              <label class="col-10" for="especif5">Especificação divergente de item - devolver os produtos e NÃO assinar
                o canhoto da
                nota fiscal</label>
            </div>

            <div class="form-check">
              <input type="checkbox" value="Embalagem danificada,0" id="embDanif5" name="embalagemdanificada"
                onclick="calcularPontuacao5()">
              <label class="col-10" for="embDanif5">Embalagem danificada? (recebi ou não)</label>
            </div>

            <fieldset id="perguntasEmbDanif5" style="display: none;">
              <div class="form-group col-sm-10">
                <div class="form-check">
                  <input type="radio" name="embalagemdanificadainfo" id="gridRadios8"
                    value="Embalagem secundária danificada – produto recebido,3.75" onclick="calcularPontuacao5_1()">
                  <label class="col-10" for="gridRadios8">
                    Embalagem secundária danificada – produto recebido
                  </label>
                </div>
                <div class="form-check">
                  <input type="radio" name="embalagemdanificadainfo" id="gridRadios9"
                    value="O item foi devolvido por conta da embalagem secundária danificada.,3.75"
                    onclick="calcularPontuacao5_1()">
                  <label class="col-10" for="gridRadios9">
                    O item foi devolvido por conta da embalagem secundária danificada.
                  </label>
                </div>
                <div class="form-check">
                  <input type="radio" name="embalagemdanificadainfo" id="gridRadios10"
                    value="Embalagem primária danificada? Se sim, devolver os produtos e NÃO assinar o canhoto da nota fiscal,7.5"
                    onclick="calcularPontuacao5_1()">
                  <label class="col-10" for="gridRadios10">
                    Embalagem primária danificada? Se sim, devolver os produtos e NÃO assinar o canhoto da nota fiscal
                  </label>
                </div>
              </div>
            </fieldset>

            <div id="exibePontuacao5-1">Pontuação: 0</div>

            <!-- Termolábeis -->
            <div class="form-check">
              <input type="checkbox" value="Termolabeis,0" id="defaultCheck17" onclick="calcularPontuacao5()"
                name="temolabel">
              <label class="col-10"> Termolábeis?</label>


              <!-- 5.2 -->
              <fieldset id="gridRadios3Adicional2" style="display: none;">
                <legend class="col-form-label col-sm-6 pt-1">5.2. A temperatura registrada está entre 2ºC a 8ºC?
                </legend>
                <div class="col-sm-10 form-group">
                  <div class="form-check">
                    <input type="radio" name="termolabelsimnao" id="respostaSim2" value="sim,0"
                      onclick="calcularPontuacao5_2()">
                    <label class="col-10" for="respostaSim2">Sim</label>
                  </div>
                  <div class="form-check">
                    <input type="radio" name="termolabelsimnao" id="respostaNao2" value="nao,7.5"
                      onclick="calcularPontuacao5_2()">
                    <label class="col-10" for="respostaNao2">Não &nbsp;<span class="mensagem-especificacao2"
                        style="display: none; color: brown;"> - devolver os produtos e NÃO assinar o canhoto da nota
                        fiscal </span></label>
                  </div>
                </div>
              </fieldset>

              <div id="exibePontuacao5-2">Pontuação: 11</div>

            </div>

          </div>
        </div>
      </fieldset>

      <div id="pontuacao5">Pontuação: 0</div>
      <div id="pontuacaoSoma5">PontuaçãoSoma: 0</div>





      <!-- Nota(s) Fiscal(is) apresentam: FABRICANTE, LOTE e VALIDADE de acordo com o produto recebido ?  -->
      <fieldset class="form-group">
        <div class="form-group">
          <legend class="col-form-label col-sm-8 pt-1">6. Nota(s) Fiscal(is) apresentam: FABRICANTE, LOTE e VALIDADE de
            acordo com o produto recebido ?</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="radio" name="lotevalidade" id="gridRadios11"
                value="Sim, apresenta os dados no corpo da NF,10" onclick="calcularPontuacao6()">
              <label class="col-10" for="gridRadios11">
                Sim, apresenta os dados no corpo da NF
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="lotevalidade" id="gridRadios12"
                value="Não apresenta no corpo da NF, mas apresentou documento com essas informações,10"
                onclick="calcularPontuacao6()">
              <label class="col-10" for="gridRadios12">
                Não apresenta no corpo da NF, mas apresentou documento com essas informações
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="lotevalidade" id="gridRadios13"
                value="Não apresenta no corpo da NF, nem enviou os documentos com essas informações,5"
                onclick="calcularPontuacao6()">
              <label class="col-10" for="gridRadios13">
                Não apresenta no corpo da NF, nem enviou os documentos com essas informações
              </label>
            </div>
          </div>
        </div>

        <div id="pontuacao6">Pontuação: 0</div>

      </fieldset>

      <!-- Quais documentos impressos acompanham a(s) NF(s)  -->
      <div class="form-group">
        <label class="col-form-label col-sm-8 pt-1">7. Quais documentos impressos acompanham a(s) NF(s)</label>
        <div class="form-check">
          <input type="checkbox" value="Ordem de fornecimento (OF),10" name="documentoimpressosof" id="defaultCheck1">
          <label class="col-10" for="defaultCheck1">
            Ordem de fornecimento (OF)
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="Mapa de Cotação (MP)" id="defaultCheck2" name="documentoimpressosmp">
          <label class="col-10" for="defaultCheck2">
            Mapa de Cotação (MP)
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="E-mail de autorização de entrega" id="defaultCheck3"
            name="documentoimpressosemail">
          <label class="col-10" for="defaultCheck3">
            E-mail de autorização de entrega
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox"
            value="Carta de compromisso de troca (CT) - VÁLIDA SOMENTE COM AUTORIZAÇÃO DA GESTÃO CENTRAL"
            id="defaultCheck4" name="documentoimpressosct">
          <label class="col-10" for="defaultCheck4">
            Carta de compromisso de troca (CT) - VÁLIDA SOMENTE COM AUTORIZAÇÃO DA GESTÃO CENTRAL
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="Carta de correção (CC) - VÁLIDA SOMENTE COM AUTORIZAÇÃO DA GESTÃO CENTRAL"
            id="defaultCheck5" name="documentoimpressoscc">
          <label class="col-10" for="defaultCheck5">
            Carta de correção (CC) - VÁLIDA SOMENTE COM AUTORIZAÇÃO DA GESTÃO CENTRAL
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="Carta de lote e validade (LV)" id="defaultCheck6" name="documentoimpressoslv">
          <label class="col-10" for="defaultCheck6">
            Carta de lote e validade (LV)
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="Somente a Nota Fiscal" id="defaultCheck7" name="documentoimpressossnf">
          <label class="col-10" for="defaultCheck7">
            Somente a Nota Fiscal
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="Outros/observações" id="defaultCheck8" name="documentoimpressosoutros">
          <label class="col-10" for="defaultCheck8">
            Outros/observações
          </label>
        </div>

      </div>

      <!-- Quais as informações observadas nos dados adicionais das Nota(s) Fiscal(is) ?  -->
      <div class="form-group">
        <label class="col-form-label col-sm-8 pt-1">8. Quais as informações observadas nos dados adicionais das Nota(s)
          Fiscal(is) ?</label>
        <div class="form-check">
          <input type="checkbox" value="Número da Ordem de Requisição (OR)" id="defaultCheck9" name="dadosrodapeOr">
          <label class="col-10" for="defaultCheck9">
            Número da Ordem de Requisição (OR)
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="Número da Ordem de Fornecimento (OF)" id="defaultCheck10" name="dadosrodapeof">
          <label class="col-10" for="defaultCheck10">
            Número da Ordem de Fornecimento (OF)
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="Número do processo de aquisição/compra" id="defaultCheck11"
            name="dadosrodapeaquisicao">
          <label class="col-10" for="defaultCheck11">
            Número do processo de aquisição/compra
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="Número do centro de custo" id="defaultCheck12" name="dadosrodapenumcc">
          <label class="col-10" for="defaultCheck12">
            Número do centro de custo
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="Nome do centro de custo" id="defaultCheck13" name="dadosrodapenomecc">
          <label class="col-10" for="defaultCheck13">
            Nome do centro de custo
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="Número do Pedido" id="defaultCheck14" name="dadosrodapenumpedido">
          <label class="col-10" for="defaultCheck14">
            Número do Pedido
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="Nenhuma" id="defaultCheck15" name="dadosrodapenenhuma">
          <label class="col-10" for="defaultCheck15">
            Nenhuma
          </label>
        </div>
        <div class="form-check">
          <input type="checkbox" value="Outros/observações" id="defaultCheck16" name="dadosrodapeoutros">
          <label class="col-10" for="defaultCheck16">
            Outros/observações
          </label>
        </div>
      </div>

      <!-- O fornecedor realizou o agendamento para essa entrega? -->
      <fieldset class="form-group">
        <div class="form-group">
          <legend class="col-form-label col-sm-8 pt-1">9. O fornecedor realizou o agendamento para essa entrega?
          </legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="radio" name="agendamento" id="gridRadios14" value="Sim,10" onclick="calcularPontuacao9()">
              <label class="col-10" for="gridRadios14">
                Sim
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="agendamento" id="gridRadios15" value="Nao,5" onclick="calcularPontuacao9()">
              <label class="col-10" for="gridRadios15">
                Não
              </label>
            </div>
          </div>
        </div>

        <div id="pontuacao9">Pontuação: 0</div>

      </fieldset>

      <!-- O fornecedor cumpriu data e hora do agendamento? -->
      <fieldset class="form-group">
        <div class="form-group">
          <legend class="col-form-label col-sm-8 pt-1">10. O fornecedor cumpriu data e hora do agendamento?</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="radio" name="datahoracumprida" id="gridRadios17" value="Sim,10">
              <label class="col-10" for="gridRadios17">
                Sim
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="datahoracumprida" id="gridRadios18" value="Nao,5">
              <label class="col-10" for="gridRadios18">
                Não
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="datahoracumprida" id="gridRadios19"
                value="N/A (marcar somente se o fornecedor não agendou a entrega),11">
              <label class="col-10" for="gridRadios19">
                N/A (marcar somente se o fornecedor não agendou a entrega)
              </label>
            </div>
          </div>
        </div>

      </fieldset>

      <!-- Carga estava organizada por nota fiscal? -->
      <fieldset class="form-group">
        <div class="form-group">
          <legend class="col-form-label col-sm-8 pt-1">11. Carga estava organizada por nota fiscal?</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="radio" name="organizadanf" id="gridRadios23" value="Sim,10" onclick="calcularPontuacao11()">
              <label class="col-10" for="gridRadios23">
                Sim
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="organizadanf" id="gridRadios24" value="Nao,5" onclick="calcularPontuacao11()">
              <label class="col-10" for="gridRadios24">
                Não
              </label>
            </div>

            <!-- obs organização por nf -->
            <div id="obs11" class="form-group" style="display: none;">
              <label class="col-form-label col-sm-8 pt-1">11.1. Em caso de não, pro favor especificar:</label>
              <textarea class="form-control" id="cx-obs11" rows="3" name="organizadanfobs"></textarea>
            </div>

          </div>
        </div>

        <div id="pontuacao11">Pontuação: 0</div>

      </fieldset>

      <!-- Carga estava devidamente embalada e lacrada? -->
      <fieldset class="form-group">
        <div class="form-group">
          <legend class="col-form-label col-sm-8 pt-1">12. Carga estava devidamente embalada e lacrada?</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="radio" name="cargaembalada" id="gridRadios26" value="Sim,10" onclick="calcularPontuacao12()">
              <label class="col-10" for="gridRadios26">
                Sim
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="cargaembalada" id="gridRadios27" value="Nao,5" onclick="calcularPontuacao12()">
              <label class="col-10" for="gridRadios27">
                Não
              </label>
            </div>

            <!-- obs lacrada -->
            <div id="obs12" class="form-group" style="display: none;">
              <label class="col-form-label col-sm-8 pt-1">12.1. Em caso de não, pro favor especificar:</label>
              <textarea class="form-control" id="cx-obs12" rows="3" name="cargaembaladaobs"></textarea>
            </div>

          </div>
        </div>

        <div id="pontuacao12">Pontuação: 0</div>

      </fieldset>

      <!-- Caso tenha sido necessária a presença do ajudante o fornecedor/transportadora disponibilizaram o profissional? -->
      <fieldset class="form-group">
        <div class="form-group">
          <legend class="col-form-label col-sm-8 pt-1">13. Caso tenha sido necessária a presença do ajudante o
            fornecedor/transportadora disponibilizaram o profissional?</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="radio" name="ajudante" id="gridRadios29" value="Sim,10" onclick="calcularPontuacao13()">
              <label class="col-10" for="gridRadios29">
                Sim
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="ajudante" id="gridRadios30" value="Nao,5" onclick="calcularPontuacao13()">
              <label class="col-10" for="gridRadios30">
                Não
              </label>
            </div>
          </div>
        </div>

        <div id="pontuacao13">Pontuação: 0</div>

      </fieldset>

      <!-- A entrega foi aceita? -->
      <fieldset class="form-group">
        <div class="form-group">
          <legend class="col-form-label col-sm-8 pt-1">14. A entrega foi aceita?</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="radio" name="entregaaceita" id="gridRadios32"
                value="Sim - Carga recebida totalmente - canhoto liberado,10" onclick="calcularPontuacao14()">
              <label class="col-10" for="gridRadios32">
                Sim - Carga recebida totalmente - canhoto liberado
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="entregaaceita" id="gridRadios33"
                value="Sim - Carga recebida parcialmente, aguardando solução - canhoto retido,5"
                onclick="calcularPontuacao14()">
              <label class="col-10" for="gridRadios33">
                Sim - Carga recebida parcialmente, aguardando solução - canhoto retido
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="entregaaceita" id="gridRadios34"
                value="Não - Carga aguarda recolhimento - canhoto não assinado,0" onclick="calcularPontuacao14()">
              <label class="col-10" for="gridRadios34">
                Não - Carga aguarda recolhimento - canhoto não assinado
              </label>
            </div>
            <div class="form-check">
              <input type="radio" name="entregaaceita" id="gridRadios35"
                value="Não - Carga devolvida de imediato - canhoto não assinado,0" onclick="calcularPontuacao14()">
              <label class="col-10" for="gridRadios35">
                Não - Carga devolvida de imediato - canhoto não assinado
              </label>
            </div>
          </div>
        </div>

        <div id="pontuacao14">Pontuação: 0</div>

      </fieldset>

      <div class="form-group">
        <label class="col-form-label col-sm-8 pt-1">15. Há alguma informação relevante referente a essa entrega que
          gostaria de registrar?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="obsfinal"></textarea>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Critério</th>
            <th scope="col">Peso</th>
            <th scope="col">Pontos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Quantidade</th>
            <td>10%</td>
            <td id="exibirQuantidade">0</td>
          </tr>
          <tr>
            <th scope="row">Prazo</th>
            <td>10%</td>
            <td id="exibirPrazo">0</td>
          </tr>
          <tr>
            <th scope="row">Qualidade</th>
            <td>70%</td>
            <td id="exibirQualidade">0</td>
          </tr>
          <tr>
            <th scope="row">Verificação Documental</th>
            <td>10%</td>
            <td id="exibirVerificacaoDocumental">0</td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th scope="col">Total</th>
            <th scope="col">100%</th>
            <th scope="col" id="exibirTotal">0</th>
          </tr>
        </thead>
      </table>

      <!-- <button id="calcular" type="button" onclick="atualizaTabela()">Calcular</button> -->

      <button type="submit" class="btn btn-primary">Enviar</button>

    </form>

  </div>

</div>

<!-- /.container-fluid -->
<div th:replace="compartilhado/baixo"></div>


<script>

  // Função para formatar a data e hora para DD/MM/AAAA HH:MM:SS
  function formatarDataHora(data) {
    let dia = data.getDate().toString().padStart(2, '0');
    let mes = (data.getMonth() + 1).toString().padStart(2, '0'); // Janeiro é 0
    let ano = data.getFullYear();
    let horas = data.getHours().toString().padStart(2, '0');
    let minutos = data.getMinutes().toString().padStart(2, '0');
    let segundos = data.getSeconds().toString().padStart(2, '0');
    return `${dia}/${mes}/${ano} ${horas}:${minutos}:${segundos}`;
  }

  // Inserir a data e hora atual no campo de entrada
  function inserirDataHoraAtual() {
    let dataAtual = new Date();
    let dataHoraFormatada = formatarDataHora(dataAtual);
    document.getElementById('datacadastro').value = dataHoraFormatada;
  }

  // Chama a função quando a página carrega
  window.onload = inserirDataHoraAtual;

  // Função para buscar centros de custo do servidor
  function buscarCentrosDeCusto() {
    return $.ajax({
      url: '/centros-de-custo', // Substitua com a URL do seu endpoint
      type: 'GET',
      dataType: 'json'
    });
  }

  // Função para adicionar campos de nota fiscal
  let fieldCount = 1;

  function adicionarCampos() {
    buscarCentrosDeCusto().done(function (centrosDeCusto) {
      fieldCount++;
      const baseDiv = document.getElementById('inputFields');
      const newFieldSet = document.createElement('div');
      newFieldSet.className = 'form-row fieldSet row';
      newFieldSet.setAttribute('data-index', fieldCount);  // Adiciona um índice para cada conjunto de campos

      let selectHTML = `<select class="form-control centro-custo" name="centrodecusto">
      <option selected>Selecione</option>`;
      centrosDeCusto.forEach(custo => {
        selectHTML += `<option value="${custo.nomeunidade}">${custo.nomeunidade}</option>`;
      });
      selectHTML += '</select>';

      newFieldSet.innerHTML = `
      <div class="form-group col-md-2">
        <label>Nota Fiscal</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <button class="btn btn-outline-primary" type="button"  onclick="adicionarCampos()">+</button>
          </div>
          <input type="text" class="form-control nota" name="numeroNotaFiscal">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary excluir-campos" type="button" onclick="removerCampo(this)">-</button>
          </div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <label>Nº de volumes</label>
        <input type="text" class="form-control" name="numeroVolumes">
      </div>
      <div class="form-group col-md-3">
        <label>Selecione o Centro de Custo</label>
        ${selectHTML}
      </div>
    `;

      baseDiv.appendChild(newFieldSet);
    });
  }

  function removerCampo(button) {
    button.closest('.fieldSet').remove();
  }


  //Exibe checkbox das notas adicionais
  function exibirCheckbox(fieldCount) {
    const selectCentroCusto = document.getElementById(`inputState${fieldCount}`);
    const checkboxDiv = document.getElementById(`checkboxDiv${fieldCount}`);
    if (selectCentroCusto.value === 'Upa Vilha Velha') {
      checkboxDiv.style.display = 'block';
    } else {
      checkboxDiv.style.display = 'none';
    }
  }

  //Exibe checkbox da primeira nota
  function exibirCheckbox1() {
    const selectCentroCusto = document.getElementById(`inputState`);
    const checkboxDiv = document.getElementById(`checkboxDiv`);
    if (selectCentroCusto.value === 'Upa Vilha Velha') {
      checkboxDiv.style.display = 'block';
    } else {
      checkboxDiv.style.display = 'none';
    }
  }

  //Adiciona Notas
  document.addEventListener('click', function (event) {
    if (event.target.classList.contains('adicionar-campos')) {
      adicionarCampos();
    } else if (event.target.classList.contains('excluir-campos')) {
      event.target.closest('.fieldSet').remove();
    }
  });


  document.querySelectorAll('input[type="radio"]').forEach(function (radio) {
    radio.addEventListener('change', function () {
      if (this.id === 'gridRadios8' && this.checked) {
        document.querySelector('.mensagem-especificacao').style.display = 'inline';
      } else {
        document.querySelector('.mensagem-especificacao').style.display = 'none';
      }
    });
  });

  //exibe radios
  document.getElementById("gridRadios7").addEventListener("change", function () {
    const fieldset = document.getElementById("gridRadios3Adicional1");
    const radios = fieldset.querySelectorAll('input[type="radio"]');
    if (this.checked) {
      fieldset.style.display = "block";
    } else {
      fieldset.style.display = "none";
      radios.forEach(function (radio) {
        radio.checked = false;
      });
    }
  });


  // Condição outros fornecedores
  document.getElementById('nomeFornecedor').addEventListener('input', function () {
    const valor = this.value.trim().toLowerCase(); // Obtém o valor digitado, removendo espaços em branco extras e tornando-o em minúsculas
    const outroFornecedor = document.getElementById('outroFornecedor');

    // Verifica se o valor é "outros"
    if (valor === 'outros') {
      outroFornecedor.style.display = 'block'; // Exibe o campo para inserir o nome do fornecedor
      atualizaTabela()
    } else {
      outroFornecedor.style.display = 'none'; // Oculta o campo para inserir o nome do fornecedor
      atualizaTabela()
    }
  });

  //exibe raios 5-2
  document.getElementById("defaultCheck17").addEventListener("change", function () {
    const divAdicional2 = document.getElementById("gridRadios3Adicional2");
    const radiosAdicional2 = divAdicional2.querySelectorAll('input[type="radio"]');
    if (this.checked) {
      divAdicional2.style.display = "block";
      document.getElementById("exibePontuacao5-2").innerText = "Pontuação: 0";
      calcularPontuacaoSoma5();
    } else {
      divAdicional2.style.display = "none";
      radiosAdicional2.forEach(function (radio) {
        radio.checked = false;
      });
      document.getElementById("exibePontuacao5-2").innerText = "Pontuação: 11";
      calcularPontuacaoSoma5();
    }
  });


  // Adiciona um evento de escuta aos radios respostaSim2 e respostaNao2
  document.querySelectorAll('input[name="gridRadios3Adicional2"]').forEach(function (radio) {
    radio.addEventListener('change', function () {
      // Verifica se o radio respostaNao2 está marcado
      if (this.id === 'respostaNao2' && this.checked) {
        // Se estiver marcado, exibe o span mensagem-especificacao2
        document.querySelector('.mensagem-especificacao2').style.display = 'inline';
      } else {
        // Se não estiver marcado, oculta o span mensagem-especificacao2
        document.querySelector('.mensagem-especificacao2').style.display = 'none';
      }
    });
  });

  //exibe radios embalagem danificada
  document.getElementById("embDanif5").addEventListener("change", function () {
    const divPerguntas = document.getElementById("perguntasEmbDanif5");
    const radios = divPerguntas.querySelectorAll('input[type="radio"]');
    if (this.checked) {
      divPerguntas.style.display = "block";
    } else {
      divPerguntas.style.display = "none";
      radios.forEach(function (radio) {
        radio.checked = false;
      });
      document.getElementById("exibePontuacao5-1").innerText = "Pontuação: 0";
      calcularPontuacaoSoma5();
    }
  });

  // Adiciona ouvinte de eventos ao radio gridRadios21
  document.getElementById('gridRadios21').addEventListener('change', function () {
    if (this.checked) {
      document.getElementById('obs3').style.display = 'block';
      document.getElementById('cx-obs3').setAttribute('required', true); // Torna o campo obrigatório
    } else {
      document.getElementById('obs3').style.display = 'none';
      document.getElementById('cx-obs3').removeAttribute('required'); // Remove a obrigatoriedade do campo
    }
  });

  // Adiciona ouvinte de eventos aos outros radios para ocultar a div obs3 quando outra opção for marcada
  document.querySelectorAll('input[name="gridRadios7"]').forEach(function (radio) {
    radio.addEventListener('change', function () {
      if (this.id !== 'gridRadios21') {
        document.getElementById('obs3').style.display = 'none';
        document.getElementById('cx-obs3').removeAttribute('required'); // Remove a obrigatoriedade do campo
      }
    });
  });

  // Adiciona ouvinte de eventos ao radio gridRadios27
  document.getElementById('gridRadios27').addEventListener('change', function () {
    if (this.checked) {
      document.getElementById('obs12').style.display = 'block';
      document.getElementById('cx-obs12').setAttribute('required', true); // Torna o campo obrigatório
    } else {
      document.getElementById('obs12').style.display = 'none';
      document.getElementById('cx-obs12').removeAttribute('required'); // Remove a obrigatoriedade do campo
    }
  });

  // Adiciona ouvinte de eventos aos outros radios para ocultar a div obs12 quando outra opção for marcada
  document.querySelectorAll('input[name="gridRadios9"]').forEach(function (radio) {
    radio.addEventListener('change', function () {
      if (this.id !== 'gridRadios27') {
        document.getElementById('obs12').style.display = 'none';
        document.getElementById('cx-obs12').removeAttribute('required'); // Remove a obrigatoriedade do campo
      }
    });
  });

  // Adiciona ouvinte de eventos ao radio gridRadios24
  document.getElementById('gridRadios24').addEventListener('change', function () {
    if (this.checked) {
      document.getElementById('obs11').style.display = 'block';
      document.getElementById('cx-obs11').setAttribute('required', true); // Torna o campo obrigatório
    } else {
      document.getElementById('obs11').style.display = 'none';
      document.getElementById('cx-obs11').removeAttribute('required'); // Remove a obrigatoriedade do campo
    }
  });

  // Adiciona ouvinte de eventos aos outros radios para ocultar a div obs11 quando outra opção for marcada
  document.querySelectorAll('input[name="gridRadios8"]').forEach(function (radio) {
    radio.addEventListener('change', function () {
      if (this.id !== 'gridRadios24') {
        document.getElementById('obs11').style.display = 'none';
        document.getElementById('cx-obs11').removeAttribute('required'); // Remove a obrigatoriedade do campo
      }
    });
  });


  function calcularPontuacao() {
    // Obter todos os elementos input do tipo radio com o mesmo nome
    var radios = document.getElementsByName('gridRadios7');

    var pontuacao = 0;

    // Verificar qual opção está selecionada e adicionar sua pontuação à pontuação total
    for (var i = 0; i < radios.length; i++) {
      if (radios[i].checked) {
        var valor = radios[i].value.split(',')[1]; // Obter o número após a vírgula
        pontuacao += parseInt(valor, 10); // Converter para número e adicionar à pontuação
        break; // Sair do loop, já que encontramos a opção selecionada
      }
    }

    // Exibir pontuação
    document.getElementById("pontuacao").innerText = "Pontuação: " + pontuacao;
    atualizaTabela()
  }

  function calcularPontuacao5() {
    var tdCertoCheckbox = document.getElementById('tdCerto');
    var pontuacaoPri = 0.0; // Inicializa com um float
    var pontuacaoDoi = 0.0; // Inicializa com um float

    // Verifica se o checkbox tdCerto está marcado
    if (tdCertoCheckbox.checked) {
      pontuacaoDoi = 0; // Se marcado, define a pontuaçãoDoi como 30.0
    } else {
      // Se não marcado, processa os outros checkboxes
      var checkboxes = [
        { id: 'gridRadios7' },
        { id: 'especif5' },
        { id: 'embDanif5' },
        { id: 'defaultCheck17' }
      ];

      checkboxes.forEach(function (checkbox) {
        var element = document.getElementById(checkbox.id);
        if (element.checked) {
          var value = parseFloat(element.value.split(',')[1]); // Obtém o valor à direita da primeira vírgula
          pontuacaoPri += value; // Adiciona o valor à pontuaçãoPri
        }
      });
    }

    // Exibe a pontuação
    var pontuacaoFinal = tdCertoCheckbox.checked ? pontuacaoDoi : pontuacaoPri;
    document.getElementById("pontuacao5").innerText = "Pontuação: " + pontuacaoFinal.toFixed(2); // Formata para 2 casas decimais

    calcularPontuacaoSoma5();
    atualizaTabela()
  }





  function calcularPontuacao5_1() {
    var radios = document.getElementsByName('gridRadios3');
    var embDanifCheckbox = document.getElementById('embDanif5');
    var embDanifChecked = embDanifCheckbox.checked; // Use checked para verificar se o checkbox está marcado

    // Se embDanif5 estiver marcado, recalcula a pontuação dos radios
    if (embDanifChecked) {
      var pontuacao5_11 = 0.0; // Inicialize com um float
      // Verifica qual radio está selecionado e obtém a pontuação correspondente
      for (var i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
          pontuacao5_11 = parseFloat(radios[i].value.split(',')[1]); // Converte para ponto flutuante
          break;
        }
      }
      // Exibe a pontuação correspondente na div
      document.getElementById("exibePontuacao5-1").innerText = "Pontuação: " + pontuacao5_11.toFixed(2); // Formata para 2 casas decimais
    } else {
      // Se embDanif5 não estiver marcado, exibe a pontuação como zero
      document.getElementById("exibePontuacao5-1").innerText = "Pontuação: 0.00"; // Exibe zero com duas casas decimais
    }

    calcularPontuacaoSoma5();
    atualizaTabela()
  }


  // Função para calcular a pontuação do Termolábeis
  function calcularPontuacao5_2() {
    var radios = document.getElementsByName('gridRadios3Adicional2');
    var termolabeisChecked = document.getElementById('defaultCheck17').checked;

    // Se Termolábeis estiver marcado, recalcula a pontuação dos radios
    if (termolabeisChecked) {
      var pontuacao5_2 = 0.0; // Inicialize com um float
      // Verifica qual radio está selecionado e obtém a pontuação correspondente
      for (var i = 0; i < radios.length; i++) {
        if (radios[i].checked) {
          pontuacao5_2 = parseFloat(radios[i].value.split(',')[1]); // Converte para ponto flutuante
          break;
        }
      }
      // Exibe a pontuação correspondente na div
      document.getElementById("exibePontuacao5-2").innerText = "Pontuação: " + pontuacao5_2.toFixed(2); // Formata para 2 casas decimais
    } else {
      // Se Termolábeis não estiver marcado, exibe a pontuação como zero
      document.getElementById("exibePontuacao5-2").innerText = "Pontuação: 0.00"; // Exibe zero com duas casas decimais
    }

    calcularPontuacaoSoma5();
    atualizaTabela()
  }


  /*function calcularPontuacaoSoma5() {
    // Obtém os valores das pontuações das três divs
    var pontuacao5_1 = parseFloat(document.getElementById("exibePontuacao5-1").innerText.split(':')[1].trim());
    var pontuacao5_2 = parseFloat(document.getElementById("exibePontuacao5-2").innerText.split(':')[1].trim());
    var pontuacao5 = parseFloat(document.getElementById("pontuacao5").innerText.split(':')[1].trim());

    // Calcula a soma das pontuações
    var pontuacaoSoma5 = pontuacao5_1 + pontuacao5_2 + pontuacao5;

    // Atualiza a div pontuacaoSoma5 com o valor da soma
    document.getElementById("pontuacaoSoma5").innerText = "PontuaçãoSoma: " + pontuacaoSoma5;
  }*/

  function calcularPontuacaoSoma5() {
    // Obtém os valores das pontuações das três divs
    var pontuacao5_1 = parseFloat(document.getElementById("exibePontuacao5-1").innerText.split(':')[1].trim());
    var pontuacao5_2 = parseFloat(document.getElementById("exibePontuacao5-2").innerText.split(':')[1].trim());
    var pontuacao5 = parseFloat(document.getElementById("pontuacao5").innerText.split(':')[1].trim());

    // Calcula a soma das pontuações
    var pontuacaoSoma5;

    if (pontuacao5 === 30) {
      pontuacaoSoma5 = 30;
    } else {
      if (pontuacao5_2 === 11) {

        var regra5 = (pontuacao5 * 5) / 15;
        var regra5_1 = (pontuacao5_1 * 2.50) / 7.50;

        pontuacaoSoma5 = pontuacao5 + regra5 + pontuacao5_1 + regra5_1;

      } else {
        pontuacaoSoma5 = pontuacao5_1 + pontuacao5_2 + pontuacao5;
      }
    }
    // Atualiza a div pontuacaoSoma5 com o valor da soma
    document.getElementById("pontuacaoSoma5").innerText = "PontuaçãoSoma: " + pontuacaoSoma5;
    atualizaTabela()
  }


  function calcularPontuacao6() {
    // Obter todos os elementos input do tipo radio com o mesmo nome
    var radios = document.getElementsByName('gridRadios4');

    var pontuacao = 0;

    // Verificar qual opção está selecionada e adicionar sua pontuação à pontuação total
    for (var i = 0; i < radios.length; i++) {
      if (radios[i].checked) {
        var valor = parseFloat(radios[i].value.split(',')[1]); // Obter o número após a vírgula
        pontuacao = valor;
        break; // Sair do loop, já que encontramos a opção selecionada
      }
    }

    // Exibir pontuação
    document.getElementById("pontuacao6").innerText = "Pontuação: " + pontuacao;
    atualizaTabela()
  }

  function calcularPontuacao7() {
    var checkbox = document.getElementById('defaultCheck1');
    var pontuacao = 0;

    // Verificar se o checkbox está marcado
    if (checkbox.checked) {
      // Se estiver marcado, obter o valor após a vírgula e atribuir à pontuação
      pontuacao = parseFloat(checkbox.value.split(',')[1]);
    }

    // Exibir pontuação
    document.getElementById("pontuacao7").innerText = "Pontuação: " + pontuacao;
    atualizaTabela()
  }




  function calcularPontuacao9() {
    var radios = document.getElementsByName('gridRadios5');
    var pontuacao = 0;

    // Verificar qual opção está selecionada em gridRadios5
    for (var i = 0; i < radios.length; i++) {
      if (radios[i].checked) {
        // Obter o valor após a vírgula e atribuir à pontuação
        pontuacao = parseFloat(radios[i].value.split(',')[1]);
        break;
      }
    }

    // Exibir pontuação
    document.getElementById("pontuacao9").innerText = "Pontuação: " + pontuacao;
    atualizaTabela()
  }

  function calcularPontuacao10() {
    var radios = document.getElementsByName('gridRadios6');
    var pontuacao = 0;

    // Verificar qual opção está selecionada em gridRadios6
    for (var i = 0; i < radios.length; i++) {
      if (radios[i].checked) {
        // Obter o valor após a vírgula e atribuir à pontuação
        pontuacao = parseFloat(radios[i].value.split(',')[1]);
        break;
      }
    }

    // Exibir pontuação
    document.getElementById("pontuacao10").innerText = "Pontuação: " + pontuacao;
    atualizaTabela()
  }

  function calcularPontuacao11() {
    var radios = document.getElementsByName('gridRadios8');
    var pontuacao = 0;

    // Verificar qual opção está selecionada em gridRadios6
    for (var i = 0; i < radios.length; i++) {
      if (radios[i].checked) {
        // Obter o valor após a vírgula e atribuir à pontuação
        pontuacao = parseFloat(radios[i].value.split(',')[1]);
        break;
      }
    }

    // Exibir pontuação
    document.getElementById("pontuacao11").innerText = "Pontuação: " + pontuacao;
    atualizaTabela()
  }

  function calcularPontuacao12() {
    var radios = document.getElementsByName('gridRadios9');
    var pontuacao = 0;

    // Verificar qual opção está selecionada em gridRadios6
    for (var i = 0; i < radios.length; i++) {
      if (radios[i].checked) {
        // Obter o valor após a vírgula e atribuir à pontuação
        pontuacao = parseFloat(radios[i].value.split(',')[1]);
        break;
      }
    }

    // Exibir pontuação
    document.getElementById("pontuacao12").innerText = "Pontuação: " + pontuacao;
    atualizaTabela()
  }

  function calcularPontuacao13() {
    var radios = document.getElementsByName('gridRadios10');
    var pontuacao = 0;

    // Verificar qual opção está selecionada em gridRadios6
    for (var i = 0; i < radios.length; i++) {
      if (radios[i].checked) {
        // Obter o valor após a vírgula e atribuir à pontuação
        pontuacao = parseFloat(radios[i].value.split(',')[1]);
        break;
      }
    }

    // Exibir pontuação
    document.getElementById("pontuacao13").innerText = "Pontuação: " + pontuacao;
    atualizaTabela()
  }

  function calcularPontuacao14() {
    var radios = document.getElementsByName('gridRadios36');
    var pontuacao = 0;

    // Verificar qual opção está selecionada em gridRadios6
    for (var i = 0; i < radios.length; i++) {
      if (radios[i].checked) {
        // Obter o valor após a vírgula e atribuir à pontuação
        pontuacao = parseFloat(radios[i].value.split(',')[1]);
        break;
      }
    }

    // Exibir pontuação
    document.getElementById("pontuacao14").innerText = "Pontuação: " + pontuacao;
    atualizaTabela()
  }


  function atualizaTabela() {

    // Definir o contador para calcular quantas vezes calcPontuacao é igual a 11
    let contadorPontuacao = 0;

    // Obter as pontuações das divs
    const calcPontuacao1 = parseFloat(document.getElementById("pontuacao").innerText.split(":")[1]);
    const calcPontuacao5 = parseFloat(document.getElementById("pontuacaoSoma5").innerText.split(":")[1]);
    const calcPontuacao6 = parseFloat(document.getElementById("pontuacao6").innerText.split(":")[1]);
    const calcPontuacao9 = parseFloat(document.getElementById("pontuacao9").innerText.split(":")[1]);
    const calcPontuacao11 = parseFloat(document.getElementById("pontuacao11").innerText.split(":")[1]);
    const calcPontuacao12 = parseFloat(document.getElementById("pontuacao12").innerText.split(":")[1]);
    const calcPontuacao13 = parseFloat(document.getElementById("pontuacao13").innerText.split(":")[1]);
    const calcPontuacao14 = parseFloat(document.getElementById("pontuacao14").innerText.split(":")[1]);

    // Exibir a soma dos resultados
    document.getElementById("exibirQuantidade").innerText = calcPontuacao14;
    document.getElementById("exibirPrazo").innerText = calcPontuacao9;
    document.getElementById("exibirQualidade").innerText = calcPontuacao1 + (30 - calcPontuacao5) + calcPontuacao11 + calcPontuacao12 + calcPontuacao13;
    document.getElementById("exibirVerificacaoDocumental").innerText = calcPontuacao6;
    document.getElementById("exibirTotal").innerText = calcPontuacao14 + calcPontuacao9 + calcPontuacao1 + (30 - calcPontuacao5) + calcPontuacao11 + calcPontuacao12 + calcPontuacao13 + calcPontuacao6;
  }


  /*document.getElementById("tdCerto").addEventListener("change", function () {
    const divDivergenciaEnt = document.getElementById("DivergenciaEnt");
    const gridRadios3Adicional1 = document.getElementById("gridRadios3Adicional1");
    const checkboxes = divDivergenciaEnt.querySelectorAll('input[type="checkbox"]');
    const radios = divDivergenciaEnt.querySelectorAll('input[type="radio"]');

    if (this.checked) {
      divDivergenciaEnt.style.display = "none";
      checkboxes.forEach(function (checkbox) {
        checkbox.checked = false;
      });
      radios.forEach(function (radio) {
        radio.checked = false;
      });
      document.getElementById("exibePontuacao5-1").innerText = "Pontuação: 0";
      document.getElementById("exibePontuacao5-2").innerText = "Pontuação: 11";
      calcularPontuacaoSoma5();
    } else {
      divDivergenciaEnt.style.display = "block";
      document.getElementById("exibePontuacao5-1").innerText = "Pontuação: 0";
      document.getElementById("exibePontuacao5-2").innerText = "Pontuação: 11";
      calcularPontuacaoSoma5();
    }
  });*/


  document.getElementById("tdCerto").addEventListener("change", function () {
    const divDivergenciaEnt = document.getElementById("DivergenciaEnt");
    const gridRadios3Adicional1 = document.getElementById("gridRadios3Adicional1");
    const perguntasEmbDanif5 = document.getElementById("perguntasEmbDanif5");
    const gridRadios3Adicional2 = document.getElementById("gridRadios3Adicional2");
    const checkboxes = divDivergenciaEnt.querySelectorAll('input[type="checkbox"]');
    const radios = divDivergenciaEnt.querySelectorAll('input[type="radio"]');
    const spans = document.querySelectorAll('.mensagem-especificacao2');

    if (this.checked) {
      divDivergenciaEnt.style.display = "none";
      gridRadios3Adicional1.style.display = "none";
      perguntasEmbDanif5.style.display = "none";
      gridRadios3Adicional2.style.display = "none";
      checkboxes.forEach(function (checkbox) {
        checkbox.checked = false;
      });
      radios.forEach(function (radio) {
        radio.checked = false;
      });
      spans.forEach(function (span) {
        span.style.display = "none";
      });
      document.getElementById("exibePontuacao5-1").innerText = "Pontuação: 0";
      document.getElementById("exibePontuacao5-2").innerText = "Pontuação: 11";
      calcularPontuacaoSoma5();
    } else {
      divDivergenciaEnt.style.display = "block";
      checkboxes.forEach(function (checkbox) {
        checkbox.checked = false;
      });
      radios.forEach(function (radio) {
        radio.checked = false;
      });
      spans.forEach(function (span) {
        span.style.display = "none";
      });
      document.getElementById("exibePontuacao5-1").innerText = "Pontuação: 0";
      document.getElementById("exibePontuacao5-2").innerText = "Pontuação: 11";
      calcularPontuacaoSoma5();
    }

    atualizaTabela()
  });



  /* "Cadastrar"
document.getElementById('btnCadastrarFornecedor').addEventListener('click', function() {
    
    var nome = document.getElementById('nomeNovoFornecedor').value;
    var cnpj = document.getElementById('cnpjNovoFornecedor').value;
    
    //teste
    console.log('Nome do fornecedor:', nome);
    console.log('CNPJ do fornecedor:', cnpj);
    
    // Fechar
    $('#modalNovoFornecedor').modal('hide');
});*/


</script>