<div th:replace="compartilhado/top"></div>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Olá - <span th:text="${nome}"></span> seja muito bem vindo ao gerenciamento de patrimônio da DO IT Logística</h1>
        </div>
        </p>
<div class="row">    
    <!-- Earnings (Annual) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Total em patrimônio</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="'R$ ' + ${totalValor}"></div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tasks Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Quant. bens
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" th:text="${totalItems}"></div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-chart-pie fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
            <!-- Tasks Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"> Quantidade de bens ativos</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${totalItemsObsoletos}"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tasks Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-dark shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1"> Maior valor bem cadastrado
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="'R$ ' + ${maiorValor}"></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> 


</div>       
<div class="row">
    <div class="col-xl-6 col-lg-7">
        <!-- Primeiro Gráfico: Evolução do patrimônio -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Aquisição por período</h6>
                <!-- Cabeçalho do card omitido para brevidade -->
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <!-- Conteúdo do primeiro gráfico omitido para brevidade -->
                    <canvas id="meuchart" width="635" height="320" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-7">
        <!-- Segundo Gráfico: Adicione um título apropriado -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Total em valor de bens distribuídos por projeto</h6>
                <!-- Cabeçalho do card ajustado para o segundo gráfico -->
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <!-- Ajuste o conteúdo conforme necessário -->
                    <canvas id="meuchart2" width="635" height="320" class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:replace="compartilhado/baixo"></div>




<script th:inline="javascript">

    var ctx = document.getElementById('meuchart').getContext('2d');
    var sumValorByData = /*[[${sumValorByData}]]*/[]; // Thymeleaf syntax to insert data into JavaScript
    var dates = sumValorByData.map(item => item[0]); // Extract dates
    var sums = sumValorByData.map(item => item[1]); // Extract sums

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [{
                label: 'Valor Total',
                data: sums,
                backgroundColor: [
                    'rgba(78, 115, 223, 0.05)',
                ],
                borderColor: [
                    'rgba(78, 115, 223, 1)',
                ],
                borderWidth: 2
            }]
        },
        options: {
            responsive: true, // Adiciona responsividade ao gráfico
            maintainAspectRatio: false, // Permite que o gráfico estique em todas as direções
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script th:inline="javascript">

    var ctx = document.getElementById('meuchart2').getContext('2d');
    var sumValorPorLocal = /*[[${sumValorPorLocal}]]*/[]; // Thymeleaf syntax to insert data into JavaScript
    var locais = sumValorPorLocal.map(item => item[0]); // Extrai os locais
    var valores = sumValorPorLocal.map(item => item[1]); // Extrai os valores

    var myChart = new Chart(ctx, {
        type: 'pie', // Muda para 'pie' para criar um gráfico de pizza
        data: {
            labels: locais,
            datasets: [{
                label: 'Valor por Local',
                data: valores,
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)', // Azul
                    'rgba(75, 192, 192, 0.2)', // Verde-água
                    'rgba(153, 102, 255, 0.2)', // Roxo
                    'rgba(255, 159, 64, 0.2)', // Laranja
                    'rgba(199, 199, 199, 0.2)', // Cinza
                    // Adicione mais cores conforme necessário
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)', // Azul
                    'rgba(75, 192, 192, 1)', // Verde-água
                    'rgba(153, 102, 255, 1)', // Roxo
                    'rgba(255, 159, 64, 1)', // Laranja
                    'rgba(199, 199, 199, 1)', // Cinza
                    // E também definir bordas para cada um, se necessário
                ],
                borderWidth: 2
            }]
        },
        options: {
            responsive: true, // Adiciona responsividade ao gráfico
            maintainAspectRatio: false, // Permite que o gráfico estique em todas as direções
        }
    });
</script>